best buy index

<p><%= @number %> 16 Total Stores</p>
<% @locations.each do |store| %>
<ol>
<li><p> <%= store.long_name %>
<%= store.city %>
<%= store.distance %>
<%= store.phone %>
<%= store.store_type %><p>
</li>
</ol>
<% end %>
