best buy index

<p><%= @number %> Total Stores</p>
<ul>
<% @info.each do |store| %>
<li><p> <%= store["longName"] %>
<%= store["city"] %>
<%= store["distance"] %>
<%= store["phone"] %>
<%= store["storeType"] %><p</li>
</ul>
<% end %>
