best buy index

<p><%= @number %>Total Stores</p>
<ol>
<% @locations.each do |store| %>
  <li><p> <%= store.long_name %>
  <%= store.city %>
  <%= store.distance %>
  <%= store.phone %>
  <%= store.store_type %><p></li>
  <% end %>
</ol>
